
@{
    ViewBag.Title = "MyView";
}

<h2>MyView</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        Welcome to MVC 5 Step by Step learning
    </div>

    <div>

        @{
            MVC5InOneWeek.Models.Employee emp = (MVC5InOneWeek.Models.Employee)
            ViewBag.Employee;
        }
        <b>Employee Details</b><br />
        Employee Name : @emp.FirstName @emp.LastName <br />
        Employee Salary: @emp.Salary.ToString("C")

        <b>Employee Details using Strongly Typed View</b><br />
        Employee Name : @Model.EmployeeName<br />
        
        <span style="background-color:@Model.SalaryColor">
            Employee Salary: @Model.Salary
        </span>

    </div>
</body>
</html>